.header {
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(192,192,192);
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu{
    height: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
.youtube-logo{
    height: 20px;
}
.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar{
    flex:1;
    height: 35px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style:solid;
    border-color:  rgb(192,192,192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
    width: 0px;
}

.serach-bar::placeholder{
    font-family: Roboto, Arial;
    font-size:16px;
}
.search-button{
    height: 40px;
    width: 60px;
    background-color: rgb(240,240,240);
    border: 1px solid rgb(192,192,192);
    margin-left: -1px;
    margin-right: 9px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.voice-search-button .tooltip, .search-button .tooltip {
   position: absolute;
   background-color: rgb(109, 98, 98);
   color: white;
   padding-top: 4px;
   padding-left: 8px;
   padding-bottom: 4px;
   padding-right: 8px;
   border-radius: 2px;
   font-size: 12px;
   bottom: -30px;
   opacity: 0;
   transition: opacity 0.15s;
   pointer-events: none;
   white-space: nowrap;
   
}

.search-button:hover .tooltip ,
.voice-search-button:hover .tooltip {
    opacity: 1;
}


.search-icon{
    height: 25px;
    margin-top: 4px;
}

.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(248,248,248);
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}


.voice-search-icon{
    height: 25px;
    margin-top: 4px;
}

.right-section {
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0px;
}

.upload-icon{
    height: 24px;
}

.apps{
    height: 24px;
}

.notification{
    height: 24px;
}

.notification-icon-container{
    position: relative;
}

.notification-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(224, 20, 20);
    color: white;
    font-family: Roboto, Arial;
    font-size: 12px;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}

.my-channel{
    height: 32px;
    border-radius: 20px;
}