.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 60px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.body{
    margin: 0;
    padding-top: 80px;
    padding-left: 80px;
}

.sidebar-link {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(161, 154, 154);
    margin-bottom: 10px;
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 3px;
}

.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
}